@import "tailwindcss";

@theme {
  --font-fredoka: 'Fredoka', sans-serif;
  --font-quicksand: 'Quicksand', sans-serif;
  --font-caveat: 'Caveat', cursive;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f3f4f6; /* Warna abu-abu di luar browser */
}